{% extends "base.html" %}

{% block title %}Agregar {{ type }}{% endblock %}

{% block content %}
<h1>Agregar {{ type }}</h1>
<form method="post">
    <div class="mb-3">
        <label for="dni" class="form-label">DNI</label>
        <input type="text" class="form-control" id="dni" name="dni" required>
    </div>
    <div class="mb-3">
        <label for="first_name" class="form-label">Nombres</label>
        <input type="text" class="form-control" id="first_name" name="first_name" required>
    </div>
    <div class="mb-3">
        <label for="last_name" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="last_name" name="last_name" required>
    </div>
    <div class="mb-3">
        <label for="phone_number" class="form-label">Número-teléfono</label>
        <input type="tel" class="form-control" id="phone_number" name="phone_number" required>
    </div>
    <div class="mb-3">
        <label for="address" class="form-label">Dirección</label>
        <input type="text" class="form-control" id="address" name="address">
    </div>
    <div class="mb-3">
        <label for="nationality" class="form-label">Nacionalidad</label>
        <input type="text" class="form-control" id="nationality" name="nationality" required>
    </div>
    <div class="mb-3">
        <label for="type_person" class="form-label">Tipo de persona</label>
        <select name="type_person" id="type_person" class="form-control" >
            <option value="inquilino" {% if type == 'inquilino' %}selected{% endif %}>Inquilino</option>
            <option value="propietario" {% if type == 'propietario' %}selected{% endif %}>Propietario</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Agregar persona</button>
</form>
{% endblock %}