{% extends "base.html" %}

{% block title %}Rental Contracts List{% endblock %}

{% block content %}
<h1>Contratos de alquiler de {{ person.first_name }} {{ person.last_name }}</h1>
<a href="{{ url_for('add_property',id = person.id) }}" class="btn btn-primary mb-3">Agregar nueva propiedad</a>
<a href="{{ url_for('list_properties', id=person.id) }}" class="btn btn-primary mb-3">Ver propiedades</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Inquilino</th>
            <th>Propiedad</th>
            <th>Monto de alquiler</th>
            <th>Monto de depósito</th>
            <th>Estado</th>
            <th>Fecha del primer pago</th>
            <th>Fecha de inicio</th>
            <th>Fecha de fin</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for contract in rental_contracts %}
        {% if contract.alert=='green' %}
            <tr>
                <td>{{ contract.tenant }}</td>
                <td>{{ contract.property_name }}</td>
                <td>{{ "%.2f"|format(contract.rent_amount|round(2)) }}</td>
                <td>{{ "%.2f"|format(contract.deposit_amount|round(2)) }}</td>
                <td>{{ contract.status }}</td>
                <td>{{ contract.payment_date.strftime('%d/%m/%Y') }}</td>
                <td>{{ contract.start_date.strftime('%d/%m/%Y') }}</td>
                <td>
                {% if contract.end_date %}
                    {{ contract.end_date.strftime('%d/%m/%Y') }}
                {% else %}
                    N/A
                {% endif %}
                </td>
                <td>
                    {% if contract.status != 'inactive' %}
                        <a href="{{ url_for('edit_rental_contract', id=contract.id) }}" class="btn btn-sm btn-warning">Edit</a>
                    {% endif %}
                    <form action="{{ url_for('delete_rental_contract', id=contract.id) }}" method="post" class="d-inline">
                        <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this rental contract?')">Delete</button>
                    </form>
                </td>
            </tr>
        {% elif contract.alert=='yellow' %}
            <tr class="table-warning">
                <td>{{ contract.tenant }}</td>
                <td>{{ contract.property_name }}</td>
                <td>{{ "%.2f"|format(contract.rent_amount|round(2)) }}</td>
                <td>{{ "%.2f"|format(contract.deposit_amount|round(2)) }}</td>
                <td>{{ contract.status }}</td>
                <td>{{ contract.payment_date.strftime('%d/%m/%Y') }}</td>
                <td>{{ contract.start_date.strftime('%d/%m/%Y') }}</td>
                <td>
                {% if contract.end_date %}
                    {{ contract.end_date.strftime('%d/%m/%Y') }}
                {% else %}
                    N/A
                {% endif %}
                </td>
                <td>
                    <a href="{{ url_for('edit_rental_contract', id=contract.id) }}" class="btn btn-sm btn-warning">Edit</a>
                    <form action="{{ url_for('delete_rental_contract', id=contract.id) }}" method="post" class="d-inline">
                        <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this rental contract?')">Delete</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr class="table-danger">
                <td>{{ contract.tenant }}</td>
                <td>{{ contract.property_name }}</td>
                <td>{{ "%.2f"|format(contract.rent_amount|round(2)) }}</td>
                <td>{{ "%.2f"|format(contract.deposit_amount|round(2)) }}</td>
                <td>{{ contract.status }}</td>
                <td>{{ contract.payment_date.strftime('%d/%m/%Y') }}</td>
                <td>{{ contract.start_date.strftime('%d/%m/%Y') }}</td>
                <td>
                {% if contract.end_date %}
                    {{ contract.end_date.strftime('%d/%m/%Y') }}
                {% else %}
                    N/A
                {% endif %}
                </td>
                <td>
                    <!-- <a href="{{ url_for('edit_rental_contract', id=contract.id) }}" class="btn btn-sm btn-warning">Edit</a> -->
                    <form action="{{ url_for('delete_rental_contract', id=contract.id) }}" method="post" class="d-inline">
                        <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this rental contract?')">Delete</button>
                    </form>
                </td>
            </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('add_rental_contract', id = person.id ) }}" class="btn btn-primary mb-3">Agregar contrato de alquiler</a>
{% endblock %}