{% extends "base.html" %}

{% block title %}Pagos pendientes{% endblock %}

{% block content %}
<h1>Pagos pendientes del mes</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Contrato</th>
            <th>Inquilino</th>
            <th>Teléfono</th>
            <th>Fecha de pago</th>
            <th>Monto</th>
            <th>Estado</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for payment, contract, property,tenant,phone, alert in payments %}
        <tr>
            <td>{{ property.name }}</td>
            <td>{{ tenant }}</td>
            <td>{{ phone }}</td>
            <td>{{ payment.date.strftime('%d/%m/%Y') }}</td>
            <td>{{ "%.2f"|format(payment.amount|round(2)) }}</td>
            <td>{{ payment.status }}</td>
            <td>
                <form action="{{ url_for('pay_rent', id=payment.id) }}" method="post">
                    {% if alert == 'red' %}
                        <button type="submit" class="btn  btn-danger ">Marcar como Pagado</button>
                    {% else %}
                        <button type="submit" class="btn  btn-warning ">Marcar como Pagado</button>
                    {% endif %}
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}